.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 3px 2px white;
    font-size: 30px;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.skyblue {
    background-color: powderblue;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.black {
    background-color: black;
}

.aliceblue {
    background-color: aliceblue;
}

.teal {
    background-color: teal;
}

.yellow {
    background-color: yellow;
}